@import 'custom.scss';

body{
    font-family: var(--family-work-sans);
    font-size: rem(14);
    margin: 0;
    color: var(--text-default);
    background: var(--body-bg);
}

.bg-red-ribbon{
    background: var(--theme-red-ribbon) !important;
}
.bg-purple{
    background: var(--theme-purple) !important;
}
.bg-green{
    background: var(--theme-green) !important;
}
.bg-red{
    background: var(--theme-red) !important;
}
.bg-orange{
    background: var(--theme-orange) !important;
}
.bg-yellow{
    background: var(--theme-yellow) !important;
}

.text-red-ribbon{
    color: var(--theme-red-ribbon)  !important;
}
.text-purple{
    color: var(--theme-purple)  !important;
}
.text-green{
    color: var(--theme-green)  !important;
}
.text-red{
    color: var(--theme-red)  !important;
}
.text-orange{
    color: var(--theme-orange)  !important;
}
.text-yellow{
    color: var(--theme-yellow)  !important;
}

.summaryGrid{
        .p-datatable {
            .p-datatable-tbody {
                > tr {
                    > td:first-child{
                        text-align: left;
                    }
                }
            }
        }
}


.sideBarPanel{
    height: 100vh;
    display: flex;
    flex-direction: column;
    .sideBarHead{
        background: var(--card-bg);
        border-bottom: 1px solid var(--card-border);
        display: flex;
        align-items: center;
        min-height: 3.25rem;
        padding: 0.5rem 1rem;
        h4{
            margin: 0;
            font-size: rem(18);
            color: var(--text-dark);
            font-weight: var(--weight-500);
        }
    }
    .sideBarBody{
        max-height: calc(100vh - 3.25rem - 3.25rem);
        overflow: auto;
        padding: 1rem;
        h5{
            margin: 0 0 1rem 0;
            font-size: rem(16);
            color: var(--text-dark);
            font-weight: var(--weight-500);
        }
    }
    .sideBarFooter{
        margin-top: auto;
        border-top: 1px solid var(--card-border);
        padding: 0.5rem 1rem;
        display: flex;
        gap: 1rem;
    }
}

.themeChangeBlock{
    .themeBlockHolder{
        display: flex;
        gap: 1rem;

        .themeBlock{
            width: 100px;
            height: 100px;
            border: 4px solid transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
            gap: 0.5rem;

            &.light{
                background: #EBEEF7;
                border-color: var(--border-default);
                svg{
                    path{
                        fill:#EBEEF7;
                    }
                }
                &.active{
                    svg{
                        path{
                            fill:var(--text-dark);
                        }
                    }
                }
            }
            &.dark{
                background: var(--text-dark);
                border-color: var(--text-dark);
                color: var(--white);
                svg{
                    path{
                        fill:var(--text-dark)
                    }
                }
                &.active{
                    svg{
                        path{
                            fill:var(--white)
                        }
                    }
                }
            }
        }
    }
}
.settingNavSec{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    .settingNavLink{
        margin: 0 0 0.5rem 0;
        font-size: 1em;
        color: var(--app-red);
        font-weight: var(--weight-500);
        text-decoration: none;
    }
}