<div class="card">
    <div class="card-header">
        <h4>Summary - Day 18 of 31</h4>
    </div>
    <div class="card-body">
        <div class="graphBlockHolder">
            <div class="graphBlock">
                <div class="graphBlockHead bg-red-ribbon">
                        <div class="d-flex w-100">
                            New Summary
                            <div class="ms-auto">
                                <span>Budget - 110</span>
                                <span class="ms-3">Var - 110</span>
                            </div>
                        </div>
                </div>
                <div class="graphBlockBody">

                </div>
            </div>
            <div class="graphBlock">
                <div class="graphBlockHead bg-purple">
                        <div class="d-flex w-100">
                            Certified
                            <div class="ms-auto">
                                <span>Budget - 110</span>
                                <span class="ms-3">Var - 110</span>
                            </div>
                        </div>
                </div>
                <div class="graphBlockBody">

                </div>
            </div>
            <div class="graphBlock">
                <div class="graphBlockHead bg-green">
                        <div class="d-flex w-100">
                            Non-Certified
                            <div class="ms-auto">
                                <span>Budget - 110</span>
                                <span class="ms-3">Var - 110</span>
                            </div>
                        </div>
                </div>
                <div class="graphBlockBody">

                </div>
            </div>
            <div class="graphBlock">
                <div class="graphBlockHead bg-red">
                        <div class="d-flex w-100">
                            Other Make
                            <div class="ms-auto">
                                <span>Budget - 110</span>
                                <span class="ms-3">Var - 110</span>
                            </div>
                        </div>
                </div>
                <div class="graphBlockBody">

                </div>
            </div>
            <div class="graphBlock">
                <div class="graphBlockHead bg-orange">
                        <div class="d-flex w-100">
                            Pre-owned
                            <div class="ms-auto">
                                <span>Budget - 110</span>
                                <span class="ms-3">Var - 110</span>
                            </div>
                        </div>
                </div>
                <div class="graphBlockBody">

                </div>
            </div>
            <div class="graphBlock">
                <div class="graphBlockHead bg-yellow">
                        <div class="d-flex w-100">
                            Grand Total
                            <div class="ms-auto">
                                <span>Budget - 110</span>
                                <span class="ms-3">Var - 110</span>
                            </div>
                        </div>
                </div>
                <div class="graphBlockBody">

                </div>
            </div>
        </div>
    </div>
</div>